*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-family: 'Ubuntu', sans-serif;

    a {text-decoration: none;}
    
}

.outer {
    background-color: #e0eafc;
}

//Navbar style

.nav-style {
    background-color: #7082a5;
    



    
}

.nav-style li {
    
    font-size: 1.8em;

}

.nav-style li:hover {
    color: grey;
    font-size: 1.7em;
}


.card:hover {
    background-color: rgb(242, 236, 236);
}



//adjust Image size card

.img-style {
    width: 100%;    /* or 100% of container */
    height: 22em;      /*  or 100% of container */
    object-fit: cover; /* none can be an option too as cover may deform it*/
    object-position: 50% 50%; /* if both 50% will center it*/

}

//style created

.created-style {
    font-size: 0.80em;

}

//footer-styling

footer {

    background-color: #7082a5 ;

    li {
        color: whitesmoke;
    }
}


